body {
    background-image: url('homeone.jpg');
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.launching-soon-container {
    font-family: 'True North', sans-serif;
    padding: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 60px;
}

.logo-container {
    margin-bottom: 20px;
}

.logo-container img {
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 30px;
}

.logo-container h1 {
    font-size: 40px;
    color: #1f2242;
    margin-top: 0;
}

.launching-soon-heading {
    color: #1f2242;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.launching-soon-paragraph {
    color: #1f2242;
    font-size: 18px;
    margin-bottom: 40px;
}

.loading-container {
    margin: 40px auto;
}

.loading-circle {
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-top: 4px solid #1f2242;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-lg {
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
}
.footer {
    background-color: rgba(255, 255, 255, 0.9);
    color: #1f2242;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0; /* Reduced padding for a smaller height */
    border-top: 1px solid #ddd;
    font-size: 14px; /* Adjust font size if needed */
}



@media (max-width: 768px) {
    .launching-soon-container {
        padding: 10px 0;
        
    }

    .footer {
        padding: 10px 0;
        font-size: 12px
    }

    .logo-container img {
        width: 100px;
        height: 100px;
    }

    .logo-container h1 {
        font-size: 32px;
    }

    .launching-soon-heading {
        font-size: 28px;
    }

    .launching-soon-paragraph {
        font-size: 16px;
    }

    .loading-circle {
        width: 30px;
        height: 30px;
    }

    .btn-lg {
        width: 100%;
        font-size: 16px;
        padding: 10px 0;
    }
}
